<article>
  <a class="back-to-dash" href="/dashboard"> &larr; Back to dashboard</a>
  <h2 class="edit-post">
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
      <input name="post_content" type="text" value="{{post.post_content}}" />
    </div>
    <div>
      Created by you on {{format_date post.created_at}}
      |
    </div>
    <button class="edit-post-button" type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>